__pycache__/
*.py[cod]
.venv/
.mypy_cache/

bin/
out/
target/

*.bak
*.qws
Altera/db/
Altera/incremental_db/
Altera/output_files/
Altera/simulation/
c5_pin_model_dump.txt

Xilinx/*.cache/
Xilinx/*.hw/
Xilinx/*.ip_user_files/
Xilinx/*.runs/
Xilinx/*.sim/
*.dcp

tflite-micro/.git-real/
